@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,700);
/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html{
    font-size:16px;
    font-family:'Josefin Sans',sans-serif;
    background:linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ),url("../img/synnex-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    color:#ffffff;
}

body{
    max-width:1140px;
    margin:0 auto;
}

ul,ol{ 
    padding:0;
    margin:0;
}

li {
    list-style-type: none;
    text-align: center;
}

a { text-decoration: none; }

.content{
    height:100vh;
    overflow-x:hidden;
    overflow-y:scroll;
    -webkit-overflow-scrolling:touch;
}

.content h2{
    font-size:2em;
    font-weight:700;
    margin:0;
}

.content h3{
    font-size:1.5em;
    font-weight:600;
    margin:0;
}

.content h4{
    font-size:1.3em;
    font-weight:400;
    margin:0;
}

.read-btn,
.content p,li,a{
    font-size:1.1em;
    font-weight:300;
    margin:0;
}


/*
 * Section: header;
 */

.header-nav{
    top:0;
    width:100%;
    height:40px;
    position:fixed;
    left:-100%;
    border:1px solid #ffffff;
    background-color:rgba(0,0,0,1);
    z-index: 999;
}

.hamburger{
    float:right;
    margin-right:1em;
    padding:0;
    background:none;
    border:0;
    font-size:1.5em;
    height: 40px;

    display:none;
}

.header-nav img[alt="synnex logo"]{
    height:40px;
    width:auto;
    float:left;
}

.banner img[alt="synnex bg"]{
    max-width:100%;
    height:auto;
}

ul#inline-nav{
    float:right;
    display:inline-block;
}

#inline-nav li{
    height:40px;
    line-height:40px;
    font-size:0.75em;
    margin-left:1em;
    float:left;
}

ul#dropdown-nav{
    margin-top:40px;
    width:100%;
    display:block;
    background-color:black;
}

#dropdown-nav a{
    display:block;
    border:1px solid #ffffff;
    color:#ffffff;

    transition:all 0.75s;
}

#dropdown-nav a:hover{
    background-color:#ffffff;
    color:#000000;
}

.toggle{
    display:block;
}

/*
 * Section: sidebar-nav
 */

#sidebar-nav {
    height:100vh;
    padding:1em;
    border:1px solid #ffffff;
    background-color:rgba(0,0,0,0.5);
}

#sidebar-nav img[alt="synnex logo"]{
    padding:1em;
    max-width:100%;
    height:auto;
    border:1px solid #ffffff;
}

#sidebar-nav p{
    text-align: center;
    font-weight:300;
    font-size:0.75em;
    color:#ffffff;
}

#sidebar-nav ul{
    margin-top:20%;
    margin-bottom:20%;
}

#sidebar-nav ul a,
#inline-nav a{
    font-size:1.35em;
    font-weight:400;
    color:#ffffff;
    border:1px solid #ffffff;

    transition:all 0.75s;
}

#sidebar-nav ul a:hover,
#inline-nav a:hover{
    color:#000000;
    background-color:#ffffff;
}

.social-media-icons{
    text-align: center;
}

.social-media-icons img{
    width:20%;
    height:auto;
    background-color:#ffffff;
    padding:0;
    border:1px solid #ffffff;
    border-radius:5em;

    transition:background 0.75s;
}

.social-media-icons img[alt="facebook-icon"]:hover{
    background-color:rgb(168,177,183);
}

.social-media-icons img[alt="linkedin-icon"]:hover{
    background-color:rgb(239,58,50);
}

.social-media-icons img[alt="twitter-icon"]:hover{
    background-color:rgb(0,163,180);
}

.social-media-icons img[alt="home-icon"]:hover{
    background-color:rgb(0,107,183);
}
/*
 * Section: Introduction
 */

#introduction{
    height:100vh;
}

.intro-syd{
    border-left:1px solid #ffffff;
    padding-left:1em;
}

/*
 * Section: About Us
 */

 .read-btn{
    font-size:1.1em;
    background:none;
    border:0;
    display:none;
    float:right;
 }

 .read-btn:after{
    content:" >>";
 }

/*
 * Section: Team Members
 */

#teams{
    padding:0;
}

#teams h2{
    width:20%;
    display:inline;
    float:left;
}

#team-nav ul,
#contact-nav ul{
    padding:0;
    display:inline-block;
    float:right;
}

#team-nav li,
#contact-nav li{
    padding-left:0.5em;
    padding-right:0.5em;
    line-height:44px;
    height:44px;
    float:left;
    cursor: pointer;
    border:1px solid #ffffff;

    transition:all 0.75s;
}

#team-nav li:hover,
#contact-nav li:hover{
    color:#000000;
    background-color:#ffffff;
}

.content-active{
    color:#000000;
    background-color:#ffffff;
}

.directors,
.managers,
.planners{
    position:relative;
}

.members {
    cursor:pointer;
    max-width:100%;
    height:auto;
    padding:0.5em;
    border:1px solid #ffffff;

    transition:background 0.75s;
}

.members:hover{
    background-color:#ffffff;
}

.members-active{
    background-color:#ffffff;
}

.members-detail{
    position:absolute;  
    z-index:900;
    left:20px;
    bottom:20px;
}

.members-detail img{
    height:30px;
    width:30px;
    background-color:#ffffff;
    border:1px solid #ffffff;
    border-radius:5em;

    transition: background 0.75s;
}

.members-detail img:hover{
    background-color:red;
}

/*
 * Section: Brands
 */

.brands {
    cursor:pointer;
    max-width:100%;
    height:auto;
}

#brands h3{
    cursor:pointer;
    border:1px solid #ffffff;

    transition:all 0.75s;
}

#brands h3:hover{
    color:#000000;
    background-color:#ffffff;
}


#brands img{
    padding:0.5em;
    border:1px solid #ffffff;

    transition:background 0.75s;
}

#brands img:hover{
    background-color:#ffffff;
}

.brands-active{
    background-color:#ffffff;
}

#brands h4{ 
    text-decoration: underline;
    text-align:center;
}

.accordion-section{
    text-align:center; 
    margin-top:1em;
}
.accordion-content{
    border:1px solid #ffffff;
}

.accordion-content {
    margin-bottom:1em;
}

.accordion-content a {
    color:#ffffff;
    text-decoration: underline;
}

.accordion-active {
    color:#000000;
    background-color:#ffffff;
}

/*
 * Contact Us
 */

#contact-us h2{
    position:relative;
    width:40%;
    display:inline;
    float:left;
}

.phone,
.fax {
    color:#ffffff;
    text-decoration: none;
}
.phone:before{
    content:"P: ";
}

.fax:before{
    content:"F: ";
}

#contact-list-content{
    width:100%;
    position:absolute;
    margin-bottom:40px;

    transition:right 1s;
}

#contact-us-content{
    width:100%;
    position:absolute;
    margin-bottom:40px;

    transition:right 1s;
}

.contact-offscreen{
    right:-200%;
}

.contact-onscreen{
    right:0;
}

fieldset{
    margin-bottom:2em;
    border:1px solid #ffffff;
}

input,
textarea{
    color:black;
}

textarea{
    margin-top:1em;
}

select{
    color:#000000;
    border:none;
    padding:0;
    height:40px;
}

.one:before{
    content:"1";
    padding:5px 10px 5px 10px;
    border-radius: 50%;
    background-color:#ffffff;
    color:#000000;
    font-weight:600;
    margin-left:0.25em;
    margin-right:0.75em;
}

.two:before{
    content:"2";
    padding:5px 10px 5px 10px;
    border-radius: 50%;
    background-color:#ffffff;
    color:#000000;
    font-weight:600;
    margin-left:0.25em;
    margin-right:0.75em;
}

.three:before{
    content:"3";
    padding:5px 10px 5px 10px;
    border-radius: 50%;
    background-color:#ffffff;
    color:#000000;
    font-weight:600;
    margin-left:0.25em;
    margin-right:0.75em;  
}

input[type="submit"]{
    float:right;
    background:none;
    border:1px solid #ffffff;
    border-radius: 5px;
    color:#ffffff;
    font-size:1.75em;
    font-weight:600;
    padding:0 0.5em 0 0.5em;

    transition:all 0.75s;
}

input[type="submit"]:hover{
    background-color:#ffffff;
    color:#000000;
}

/*
 * Footer
 */
footer{
    width:100%;
    height:40px;
    position:fixed;
    bottom:0;
    left:-100%;
    border:1px solid #ffffff;
    background-color:rgba(0,0,0,1);
}

footer p{
    margin-left:1em;
    display:inline-block;
}

footer .social-media-icons {
    float:right;
    display:inline-block;
}

footer .social-media-icons img{
    margin-top:5px;
    margin-right:0.5em;
    float:left;
    height:30px;
    width:auto;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * This grid system uses the zero-width font https://github.com/patrickkunka/zero-width
 * to remove white space between inline blocks
 */
.grid {
    font-family: 'zero-width';
    font-size: 0;
    position:relative;
    max-width: 1140px; /* change to suit */
    margin: 0 auto; /* to center grid */
}
.grid:after{
    content:"";
    display:table;
    clear:both;
}
.grid > * {
    font-family: 'Josefin Sans', sans-serif; /* whatever font you want */
    /* 
     * if you are using a different base font-size then change this to be the same
     * if you don't care about ie8 you can change this to
     */
    font-size: 16px; 
}
.full-width,
.one-half,
.one-quarter,
.two-quarters,
.three-quarters,
.one-third,
.two-thirds,
.one-fifth,
.two-fifths,
.three-fifths,
.four-fifths,
.one-twelth,
.two-twelths,
.three-twelths,
.four-twelths,
.five-twelths,
.six-twelths,
.seven-twelths,
.eight-twelths,
.nine-twelths,
.ten-twelths,
.eleven-twelths {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
.full-width {
    display: block;
    width:100%;
}
.one-twelth {
    width: 8.33333%;
}
.two-twelths {
    width: 16.66667%;
}
.one-fifth {
    width: 20%;
}
.one-quarter,
.three-twelths {
    width: 25%;
}
.one-third,
.four-twelths {
    width: 33.33333%;
}
.two-fifths {
    width: 40%;
}
.five-twelths {
    width: 41.66667%;
}
.one-half,
.two-quarters,
.six-twelths {
    width: 50%;
}
.seven-twelths {
    width: 58.33333%;
}
.three-fifths {
    width: 60%;
}
.two-thirds,
.eight-twelths {
    width: 66.66667%;
}
.three-quarters,
.nine-twelths {
    width: 75%;
}
.four-fifths {
    width: 80%;
}
.ten-twelths {
    width: 83.33333%;
}
.eleven-twelths {
    width: 91.66667%;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 850px) {
    .full-width-md,
    .one-third-md,
    .one-half-md{
        display:inline-block;
        vertical-align: top;
        padding:10px;
    }

    .full-width-md{
        width:100%;
    }

    .one-half-md{
        width:50%;
    }

    .one-third-md{
        width:33.33333%;
    }

    .content h2{
        font-size:1.5em;
    }

    .content h3{
        font-size:1.3em;
    }

    .content h4{
        font-size:1.1em;
    }

    .read-btn,
    .content p,li,a{
        font-size:1em;
    }
}

@media only screen and (max-width:650px){
    .full-width-sm{
        display:inline-block;
        vertical-align:top;
        padding:10px;
    }

    .full-width-sm{
        width:100%;
    }

    #introduction{
        display:none;
    }

    .header-nav {
        left:0;
    }

    footer{
        left:0;
    }

    #introduction,
    #about-us,
    #teams,
    #brands,
    #contact-us{
        padding-top:40px;
    }

    #sidebar-nav{
        position:fixed;
        left:-200%;
    }

    .read-more-text{
        display: none;
    }

    .read-btn{
        display:inline-block;
    }
}

@media only screen and (max-width:500px){
    .one-half-sm{
        display:inline-block;
        vertical-align: top;
        padding:10px;
    }

    .one-half-sm{
        width:50%;
    }

    ul#inline-nav{
        display: none;
    }

    .hamburger{
        display:inline-block;
    }
}

@media only screen and (max-width:400px){
    .read-btn,
    .content p,
    .content li,
    .content a{
        font-size:0.8em;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
