/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html{
    font-size:16px;
    background-image: url("../img/synnex-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    color:#ffffff;
}

body{
    max-width:1140px;
    margin:0 auto;
}

ul,ol{ 
    padding:0;
    margin:0;
}

li {
    list-style-type: none;
    text-align: center;
}

a { text-decoration: none; }

.content h1,
.content h2,
.content h3,
.content h4{margin:0;}

.content p{margin:1em 0 1em 0;}

.content h2 { 
    font-size:2em;
}

#about-us h2,
#teams h2,
#brands h2,
#contact-us h2 { 
    background-color:rgba(0,0,0,0.75);
}

.content{
    height:100vh;
    overflow-y:scroll;
}

/*
 * Section: Header
 */

#sidebar-nav {
    height:100vh;
    padding:1em;
    border:1px solid #ffffff;
    background-color:rgba(0,0,0,0.75);
}

#sidebar-nav img[alt="synnex logo"]{
    padding:1em;
    max-width:100%;
    height:auto;
    border:1px solid #ffffff;
}

#sidebar-nav p{
    text-align: center;
    font-size:0.6rem;
    color:#ffffff;
}

#sidebar-nav ul{
    margin-top:20%;
    margin-bottom:20%;
}

#sidebar-nav a{
    font-size:1.2em;
    color:#ffffff;
}

#sidebar-nav a:hover{
    color:red;
}

.social-media-icons{
    text-align: center;
}

.social-media-icons img{
    width:20%;
    height:auto;
    background-color:white;
    padding:0;
    border:1px solid #ffffff;
    border-radius:5em;
}

.social-media-icons img:hover{
    background-color:red;
}

/*
 * Section: Introduction
 */

#introduction{
    height:100vh;
}

.intro-syd{
    border-left:1px solid #ffffff;
    padding-left:1em;
    font-size:0.9em;
}

/*
 * Section: About Us
 */

/*
 * Section: Team Members
 */

#team-nav ul {
    margin-top:0.5em;
    background-color:rgba(0,0,0,0.75);
}

#team-nav li{
    display:inline-block;
    margin-left:2em;
    float:right;
    cursor: pointer;
}

#team-nav li:hover{
    color:red;
}

.members {
    cursor:pointer;
    max-width:100%;
    height:auto;
    padding:0.5em;
    background-color:#ffffff;
}

.members:hover{
    background-color:red;
}

/*
 * Section: Brands
 */

.brands {
    cursor:pointer;
    max-width:100%;
    height:auto;
}

#brands h3{
    background-color:rgba(0,0,0,0.75);
    cursor:pointer;
}

#brands h3:hover{
    color:red;
}

#brands h4{ 
    text-decoration: underline;
    text-align:center;
}

.accordion-section{
    text-align:center; 
    margin-top:1em;
}
.accordion-content{
    background-color:rgba(0,0,0,0.75);
}

.accordion-content {
    font-size:0.8em;
    margin-bottom:1em;
}

.accordion-content a {
    color:#ffffff;
    text-decoration: underline;
}
 



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * This grid system uses the zero-width font https://github.com/patrickkunka/zero-width
 * to remove white space between inline blocks
 */
.grid {
    font-family: 'zero-width';
    font-size: 0;
    position:relative;
    max-width: 1140px; /* change to suit */
    margin: 0 auto; /* to center grid */
}
.grid:after{
    content:"";
    display:table;
    clear:both;
}
.grid > * {
    font-family: 'helvetica', sans-serif; /* whatever font you want */
    /* 
     * if you are using a different base font-size then change this to be the same
     * if you don't care about ie8 you can change this to
     */
    font-size: 16px; 
}
.full-width,
.one-half,
.one-quarter,
.two-quarters,
.three-quarters,
.one-third,
.two-thirds,
.one-fifth,
.two-fifths,
.three-fifths,
.four-fifths,
.one-twelth,
.two-twelths,
.three-twelths,
.four-twelths,
.five-twelths,
.six-twelths,
.seven-twelths,
.eight-twelths,
.nine-twelths,
.ten-twelths,
.eleven-twelths {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
.full-width {
    display: block;
}
.one-twelth {
    width: 8.33333%;
}
.two-twelths {
    width: 16.66667%;
}
.one-fifth {
    width: 20%;
}
.one-quarter,
.three-twelths {
    width: 25%;
}
.one-third,
.four-twelths {
    width: 33.33333%;
}
.two-fifths {
    width: 40%;
}
.five-twelths {
    width: 41.66667%;
}
.one-half,
.two-quarters,
.six-twelths {
    width: 50%;
}
.seven-twelths {
    width: 58.33333%;
}
.three-fifths {
    width: 60%;
}
.two-thirds,
.eight-twelths {
    width: 66.66667%;
}
.three-quarters,
.nine-twelths {
    width: 75%;
}
.four-fifths {
    width: 80%;
}
.ten-twelths {
    width: 83.33333%;
}
.eleven-twelths {
    width: 91.66667%;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 900px) {
    .full-width-md,
    .one-third-md{
        display:inline-block;
        vertical-align: top;
        padding:10px;
    }

    .full-width-md{
        width:100%;
    }

    .one-third-md{
        width:33.33333%;
    }
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (max-width:650px){
    .full-width-sm{
        display:inline-block;
        vertical-align:top;
        padding:10px;
    }

    .full-width-sm{
        width:100%;
    }

    #sidebar-nav{
        position:fixed;
        left:-100%;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
